[submodule "dependancies/glfw"]
	path = dependancies/glfw
	url = https://github.com/glfw/glfw.git
[submodule "dependancies/libnoise"]
	path = dependancies/libnoise
	url = https://github.com/eXpl0it3r/libnoise.git
