[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = https://github.com/glfw/glfw.git
[submodule "dependencies/libnoise"]
	path = dependencies/libnoise
	url = https://github.com/eXpl0it3r/libnoise.git
